@model ProductCreateCommand

@{
    ViewData["Title"] = "Create";
}

<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <h1>Create Product</h1>

        <form class="row" enctype="multipart/form-data" method="post" id="create-form">
            <div class="col-md-12">
                <div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-8">
                        <div style="width: 600px;" class="imager-container" id="viewer1" name="images">
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="SkuCode" class="control-label"></label>
                        <input asp-for="SkuCode" class="form-control" />
                        <span asp-validation-for="SkuCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrandId" class="control-label"></label>
                        <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                        </select>
                    </div>
                    <div class="form-group ">
                        <label asp-for="ShortDescription" class="control-label"></label>
                        <textarea asp-for="ShortDescription" class="form-control editor"></textarea>
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control editor"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class=" form-row">
                        <div class="col-12">
                            <div class="tab-control" role="tabcontrol">
                                <div class="tab-page" id="specifications" aria-title="Specification" selected>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int index = 0; }
                                            @foreach (Specification item in ViewBag.Specifications)
                                            {
                                                <tr>
                                                    <th scope="row">@(index + 1)</th>
                                                    <td>@item.Name</td>
                                                    <td>
                                                        <input type="hidden" name="SelectedSpecifications[@index].Id" value="@item.Id" />
                                                        <input type="text" class="form-control w-100" name="SelectedSpecifications[@(index++)].Value" />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                @*<div class="tab-page" id="permissions" aria-title="Selahiyyetler" selected></div>*@
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>

        </form>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@*MOdal*@
<div class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-center">
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">Subscribe</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="md-form mb-5">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text" id="form3" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form3">Your name</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="form2" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form2">Your email</label>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-warning waves-effect">Send <i class="fas fa-paper-plane-o ml-1"></i></a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<div class="text-center">
    <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#orangeModalSubscription">
        Launch
        modal Subscription
    </a>
</div>

@section addjs{
    <script src="~/libs/multiple-imager-js/js/imager.js"></script>
    <script src="~/libs/ckeditor5/ckeditor.js"></script>
    <script src="~/libs/tab-control/tab-control.js"></script>

    <script>
        $('#viewer1').imgadd({
            tnWidth: '120px',
            tnHeight: '120px',
            fontSize: '55px',
            plusInnerHtml: '',
            plusBtnClass: undefined
        });

        $(document).ready(function () {
            document.querySelectorAll(".editor").forEach(item => {
                ClassicEditor
                    .create(item)
                    .catch(error => {
                        console.error(error);
                    });
            })
        })

        $(document).ready(function () {
            $("#create-form").submit(function (e) {
                e.preventDefault();

                if (!$(e.currentTarget).valid())
                    return;

                let formData = new FormData(e.currentTarget);
                $.ajax({
                    type: "post",
                    url: '@Url.Action("Create")',
                    data: formData,
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    success: function (response) {
                        if (response.error == false) {
                            toastr.success(response.message, 'Successfully!');
                            location.reload();
                        }
                        else {
                            toastr.error(response.message, 'Error!');
                        }
                    },
                    error: function (response) {

                    }
                })
            });
        });
    </script>

}

@section addcss{
    <script src="https://kit.fontawesome.com/1154e1d6ee.js" crossorigin="anonymous"></script>
    <link href="~/libs/multiple-imager-js/css/imager.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/libs/multiple-imager-js/css/imager.css">
    <link rel="stylesheet" href="~/libs/tab-control/tab-control.css" />

}

