@model Riode_WebUI.Models.Entities.Product

@{
    ViewData["Title"] = "Edit";
}

<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <h1>Product Edit</h1>

        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group ">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div style="width: 600px;" class="imager-container" id="viewer1" name="files">
                            @foreach (var item in Model.Images)
                            {
                                <label thumb-url='/uploads/images/product/@item.FileName' image-id="@item.Id" @(item.IsMain == true ? "checked" :"")></label>
                            }
                        </div>
                    </div>
                    <div class="form-group ">
                        <label asp-for="SkuCode" class="control-label"></label>
                        <input asp-for="SkuCode" class="form-control" />
                        <span asp-validation-for="SkuCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrandId" class="control-label"></label>
                        <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                        <span asp-validation-for="BrandId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShortDescription" class="control-label"></label>
                        <input asp-for="ShortDescription" class="form-control" />
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section addcss{

    <script src="https://kit.fontawesome.com/1154e1d6ee.js" crossorigin="anonymous"></script>
    <link href="~/libs/multiple-imager-js/css/imager.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/libs/multiple-imager-js/css/imager.css">

}


@section addjs{
    <script src="~/libs/multiple-imager-js/js/imager.js"></script>
    <script>
        $('#viewer1').imgadd({
            tnWidth: '120px',
            tnHeight: '120px',
            fontSize: '55px',
            plusInnerHtml: '',
            plusBtnClass: undefined
        });
    </script>
}









